<h1>{{.Title}} - Week {{.Week}}</h1>

<style>
    body {
        font-family:Arial,Helvetica,sans-serif;
    }
     table {
         border-collapse: collapse;
         width: 100%;
         white-space: nowrap;
     }
    td {
        text-align: center;
    }
    .hometeam {
        text-align: right;
    }
    .awayteam {
        text-align: left;
    }
    .winning {
        background-color: #00FF00;
    }
    .losing {
        background-color: #FF0000;
    }
    .notstarted {
    }
</style>

<hr>

<table>
